body {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(175,29,253,0.5075456207873774) 56%, rgba(252,176,69,1) 100%);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

#game-board {
    border-collapse: collapse;
}

#game-board td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

#game-board td:hover {
    opacity: 0.8;
}